---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const colors = [
  "hover:border-sky-400 hover:shadow-sky-800",
  "hover:border-blue-400 hover:shadow-blue-800",
  "hover:border-yellow-400 hover:shadow-yellow-800",
  "hover:border-lime-400 hover:shadow-lime-800",
  "hover:border-cyan-400 hover:shadow-cyan-800",
  "hover:border-green-400 hover:shadow-green-800",
  "hover:border-emerald-400 hover:shadow-emerald-800",
  "hover:border-teal-400 hover:shadow-teal-800",
  "hover:border-indigo-400 hover:shadow-indigo-800",
  "hover:border-violet-400 hover:shadow-violet-800",
  "hover:border-purple-400 hover:shadow-purple-800",
  "hover:border-fuchsia-400 hover:shadow-fuchsia-800",
  "hover:border-red-400 hover:shadow-red-800",
  "hover:border-orange-400 hover:shadow-orange-800",
  "hover:border-amber-400 hover:shadow-amber-800",
];

const projects = [
  {
    title: "Devedash",
    description:
      "Devedash is a dashboard building app, built with Next.js, Mantine UI and Supabase.",
    githubUrl: "https://github.com/paripsky/devedash",
    siteUrl: "https://devedash.vercel.app/",
    image: "https://devedash.vercel.app/favicon.ico",
    tags: ["Next", "Supabase"],
  },
  {
    title: "FreshLinks",
    description:
      "A short link generator with built in analytics, built with Fresh and Deno KV.",
    githubUrl: "https://github.com/paripsky/FreshLinks",
    siteUrl: "https://freshlinks.deno.dev",
    image: "https://freshlinks.deno.dev/favicon.ico",
    tags: ["Deno", "Fresh"],
  },
  {
    title: "OG Scrapi",
    description:
      "An API that retrieves Open Graph (OG) meta tags and other metadata from a given URL, providing a convenient way to access and utilize website metadata.",
    githubUrl: "https://github.com/paripsky/og-scrapi",
    siteUrl:
      "https://og-scrapi.deno.dev/api/meta?url=https://develist.vercel.app/",
    image: "https://upload.wikimedia.org/wikipedia/commons/e/e8/Deno_2021.svg",
    tags: ["Deno", "TS"],
  },
  {
    title: "Develist",
    description:
      "Develist is a web application built using Nuxt 3 and Supabase, designed to help developers manage and organize their development tools and resources.",
    githubUrl: "https://github.com/paripsky/develist",
    siteUrl:
      "https://develist.vercel.app/?link=b07aab82-0905-41fd-93b8-6f19ce2bdfb5",
    image: "https://develist.vercel.app/favicon.ico",
    tags: ["Nuxt", "Supabase"],
  },
  {
    title: "node-context-storage",
    description: `A simple utility for managing a context across asynchronous boundaries in NodeJS.`,
    githubUrl: "https://github.com/paripsky/node-context-storage",
    siteUrl: "https://www.npmjs.com/package/node-context-storage",
    image: "https://nodejs.org/static/images/logo.svg",
    tags: ["Node", "Express"],
  },
  {
    title: "QTerminal",
    description: "A Quake-style console for your website.",
    githubUrl: "https://github.com/paripsky/qterminal",
    siteUrl: "https://paripsky.github.io/qterminal",
    image:
      "https://upload.wikimedia.org/wikipedia/commons/5/51/Windows_Terminal_logo.svg",
    tags: ["Typescript", "CSS"],
  },
];
---

<ul class="grid grid-cols-1 lg:grid-cols-2 grid-rows gap-4 w-full">
  {
    projects.map((project, i) => (
      <li class="h-full">
        <div
          class={`p-4 h-full relative border shadow-lg transition-all duration-300 rounded-xl border-zinc-600 ${colors[i]}`}
        >
          {project.image && (
            <Image
              class="absolute right-2 top-2"
              width={40}
              height={40}
              src={project.image}
              alt={project.title}
            />
          )}
          <div class="flex flex-col gap-4 h-full">
            <h1 class="text-lg leading-tight font-medium tracking-tight">
              {project.title}
            </h1>
            <p class="text-md font-light text-pretty leading-relaxed text-neutral-300 max-sm:text-sm max-w-xl">
              {project.description}
            </p>
            <div class="card-actions justify-between items-center mt-auto">
              <div class="flex flex-wrap justify-between gap-2">
                <div class="flex gap-2">
                  {project.githubUrl && (
                    <a
                      href={project.githubUrl}
                      target="_blank"
                      class="hover:underline flex gap-1 items-center text-md font-medium leading-relaxed text-neutral-300"
                    >
                      <Icon name="mdi:github" class="size-5 float-left" />
                      Github
                    </a>
                  )}
                  {project.siteUrl && (
                    <a
                      href={project.siteUrl}
                      target="_blank"
                      class="hover:underline flex gap-1 items-center text-md font-medium leading-relaxed text-neutral-300"
                    >
                      <Icon name="mdi:link" class="size-6 text-neutral-300" />
                      Website
                    </a>
                  )}
                </div>
                <div class="flex gap-1">
                  {project.tags.map((tag) => (
                    <div class="bg-slate-900 px-2 py-1 text-neutral-300 rounded">
                      {tag}
                    </div>
                  ))}
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    ))
  }
</ul>
