---
import { Icon } from "astro-icon/components";

const presentations = [
  {
    title: "Using effects effectively: A Deep Dive Into The useEffect Hook",
    description:
      "A deep dive into the useEffect hook, how it works, how to use it effectively and common pitfalls",
    siteUrl:
      "https://docs.google.com/presentation/d/1MK3Hrkw-rDUd1p5TRHI7okgMPMzz5kxrRjx0MIa1srA",
    youtubeUrl: "https://youtu.be/EvrJbFoBy_w",
    tags: ["React"],
  },
  {
    title: "HTML, CSS, JS - The Basics",
    description: `An introduction lecture into the basics of HTML, CSS & JS`,
    siteUrl: "/presentations/html-css-js-basics.html",
    tags: ["HTML", "CSS", "JS"],
  },
  {
    title: "Into to Vue 2",
    description: `An interactive presentation that teaches the basics of Vue 2, Options API, core functionality and more`,
    siteUrl: "/presentations/intro-to-vue.html",
    tags: ["Vue"],
  },
  {
    title: "Into to NodeJS",
    description: `A presentation that teaches the basics of NodeJS, how to create a simple server with express & more`,
    siteUrl:
      "https://docs.google.com/presentation/d/1d0NwWU7ZvB0TwMsalfm8mBjEdqGUHWEO7SGMG_gzMyM",
    tags: ["NodeJS", "Express", "JS"],
  },
];
---

<ul class="flex flex-col gap-8">
  {
    presentations.map((presentation) => (
      <li
        class="group relative flex flex-col gap-2 border-l-2 border-transparent pl-4 transition-all py-1"
        data-spotlight
      >
        <div
          class="absolute left-[-2px] top-0 bottom-0 w-[2px] bg-zinc-500 transition-opacity duration-300 pointer-events-none"
          style="mask-image: radial-gradient(200px circle at var(--x) var(--y), black, transparent);"
        />
        <div class="flex flex-col gap-1">
          <h2 class="text-base font-medium tracking-tight text-neutral-100 group-hover:text-white transition-colors">
            {presentation.title}
          </h2>
          <p class="text-sm font-light text-pretty leading-relaxed text-neutral-400 max-w-xl group-hover:text-neutral-300 transition-colors">
            {presentation.description}
          </p>
        </div>

        <div class="flex flex-wrap justify-between items-center gap-4 mt-2">
          <div class="flex gap-4 text-xs font-medium">
            <a
              href={presentation.siteUrl}
              class="text-sky-300 hover:text-sky-200 flex items-center gap-1 transition-colors"
              target="_blank"
            >
              Slides <Icon name="mdi:presentation" class="size-3.5" />
            </a>
            {presentation.youtubeUrl && (
              <a
                href={presentation.youtubeUrl}
                class="text-red-400 hover:text-red-300 flex items-center gap-1 transition-colors"
                target="_blank"
              >
                Watch <Icon name="mdi:youtube" class="size-4" />
              </a>
            )}
          </div>

          <div class="flex gap-2">
            {presentation.tags.map((tag) => (
              <span class="bg-slate-800/50 px-1.5 py-0.5 text-xs text-neutral-400 rounded border border-slate-700">
                {tag}
              </span>
            ))}
          </div>
        </div>
      </li>
    ))
  }
</ul>
