---
const entries = [
  {
    date: "2022 - Now",
    title: "Senior Full Stack Engineer",
    name: "Finout",
    url: "https://www.finout.io/",
    description:
      "Building a cloud cost optimization app for multiple cloud providers using JavaScript, Node.js, React, Vite, Tailwind, and Headless UI.",
  },
  {
    date: "2020 - 2022",
    title: "Full Stack Engineer",
    name: "ironSource",
    url: "https://www.is.com/",
    description:
      "Built a web platform used by thousands of app developers using Vue, managed and maintained a high-load Node.js API.",
  },
  {
    date: "2020",
    title: "Full Stack Engineer",
    name: "Ripples",
    url: "https://www.drinkripples.com/",
    description:
      "Created and maintained React web applications and Node.js microservices, enhancing user experiences and application performance.",
  },
  {
    date: "2016 - 2020",
    title: "Full Stack Engineer",
    name: "Matzpen",
    description:
      "Designed and deployed a complex web command and control platform with Java, Node.js microservices, and AngularJS.",
  },
];
---

<div class="flex flex-col gap-8 pl-2 border-l border-zinc-700 ml-2">
  {
    entries.map((entry) => (
      <div class="relative pl-6">
        <div class="absolute -left-[13px] top-7.5 h-2.5 w-2.5 rounded-full bg-zinc-600 ring-4 ring-slate-950" />
        
        <div class="flex flex-col gap-1">
            <span class="text-xs text-neutral-500 font-mono mb-0.5">{entry.date}</span>
            <h4 class="text-base font-medium text-white">
                {entry.title} <span class="text-neutral-500">@</span> <a href={entry.url} target="_blank" class="hover:text-sky-300 transition-colors">{entry.name}</a>
            </h4>
            <p class="text-sm text-neutral-400 leading-relaxed max-w-lg">
                {entry.description}
            </p>
        </div>
      </div>
    ))
  }
</div>
