---
const entries = [
  {
    date: "2022 - Now",
    title: "Full Stack Engineer",
    name: "FinOut",
    url: "https://www.finout.io/",
    description:
      "Building a cloud cost optimization app for multiple cloud providers using JavaScript, Node.js, React, Vite, Tailwind, and Headless UI.",
  },
  {
    date: "2020 - 2022",
    title: "Full Stack Engineer",
    name: "ironSource",
    url: "https://www.is.com/",
    description:
      "Built a web platform used by thousands of app developers using Vue, managed and maintained a high-load Node.js API.",
  },
  {
    date: "2020",
    title: "Full Stack Engineer",
    name: "Ripples",
    url: "https://www.drinkripples.com/",
    description:
      "Engineered React web applications and Node.js microservices, enhancing user experiences and application performance.",
  },
  {
    date: "2016 - 2020",
    title: "Full Stack Engineer",
    name: "Matzpen, IDF",
    url: "https://www.idf.il/%D7%90%D7%AA%D7%A8%D7%99-%D7%99%D7%97%D7%99%D7%93%D7%95%D7%AA/%D7%90%D7%92%D7%A3-%D7%94%D7%AA%D7%A7%D7%A9%D7%95%D7%91-%D7%95%D7%94%D7%94%D7%92%D7%A0%D7%94-%D7%91%D7%A1%D7%99%D7%99%D7%91%D7%A8/%D7%9B%D7%9C-%D7%94%D7%9B%D7%AA%D7%91%D7%95%D7%AA/%D7%9B%D7%AA%D7%91%D7%95%D7%AA-%D7%9B%D7%9C%D7%9C%D7%99%D7%95%D7%AA/%D7%9E%D7%A6%D7%A4-%D7%9F/",
    description:
      "Designed and deployed a complex web command and control platform with Java, Node.js microservices, and AngularJS.",
  },
];
---

<div class="m-auto sticky">
  <div class="container mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden h-full">
      <div
        class="hidden lg:block border-r-2 border-accent right-1/2 absolute h-full border"
      >
      </div>
      <div
        class="hidden lg:block border-l-2 border-accent left-1/2 absolute h-full border"
      >
      </div>
      {
        entries.map((entry, index) => (
          <div
            class={`mb-8 flex justify-between items-center w-full ${
              index % 2 === 0 ? "flex-row-reverse" : ""
            }`}
          >
            <div class="hidden lg:block order-1 w-5/12" />
            <div class="order-1 lg:w-5/12 px-1 py-4 text-left">
              <p class="mb-3 text-base text-accent">{entry.date}</p>
              <h4 class="mb-3 font-bold text-lg md:text-2xl">
                <span>{entry.title}</span>
                <span class="ml-1">@</span>
                <a href={entry.url} target="_blank" class="underline">
                  {entry.name}
                </a>
              </h4>
              <p>{entry.description}</p>
            </div>
          </div>
        ))
      }
      <!-- <img
        class="mx-auto -mt-36 md:-mt-36"
        src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png"
      /> -->
    </div>
  </div>
</div>
